<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="app.name" value="${SERVICE_NAME:spring-service}"/>
    <property scope="context" name="pod.name" value="${HOSTNAME:localhost}"/>
    <property scope="context" name="root.level" value="${ROOT_LEVEL:-INFO}"/>
    <property scope="context" name="console.log.pattern"
              value="${CONSOLE_LOG_PATTERN:-%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n}"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <customFields>{"app":"${app.name}","pod":"${pod.name}"}</customFields>
        </encoder>
    </appender>

    <root level="${root.level}">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>